# Generate with: openssl rand -base64 32
SECRET=<generate-a-random-secret>

NEXTAUTH_URL=http://localhost:3002
BASE_URL=https://api.asgardeo.io
BASE_ORG_URL=https://api.asgardeo.io/t/<your-asgardeo-org-name>
CHANNELLING_SERVICE_URL=http://localhost:9091
PET_MANAGEMENT_SERVICE_URL=http://localhost:9092
PERSONALIZATION_SERVICE_URL=http://localhost:9093
HOSTED_URL=http://localhost:3002
SHARED_APP_NAME=<your-shared-app-name>
CLIENT_ID=<pet-care-app-consumer-key>
CLIENT_SECRET=<pet-care-app-consumer-secret>
MANAGEMENT_APP_CLIENT_ID=<pet-care-admin-app-client-id>
MANAGEMENT_APP_CLIENT_SECRET=<pet-care-admin-app-client-secret>
NODE_TLS_REJECT_UNAUTHORIZED=0
